<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 55px;">
            <h2>Ajouter un nouveau rapport</h2>
        </div>
        <form [formGroup]="ajoutForm" (ngSubmit)="onSubmitForm()">

            <div class="form-group">
                <div class="col-md-4">
                    <input class="form-control" type="text" name="rechercheMedecin" id="rechercheMedecin" (keyup)="rechercheMedecin($event)" placeholder="Rechercher un médecin"/>
                </div>
                <div class="col-md-8">
                    <select formControlName="idMedecin" class="form-control" id="listeMedecin" style="overflow: scroll;">
                        <option *ngFor = "let medecin of medecins" value="{{medecin.id}}">{{medecin.nom}} {{medecin.prenom}} {{medecin.adresse}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6" style="margin-top: 35px;">
                    <div class="form-group">
                        <label for="motif">Motif</label>
                        <textarea formControlName="motif" id="motif" name="motif" class="form-control" style="height: 120px;"></textarea>
                    </div>
                </div>
    
                <div class="col-md-6" style="margin-top: 35px;">
                    <div class="form-group">
                        <label for="bilan">Bilan</label>
                        <textarea formControlName="bilan" id="bilan" name="bilan" class="form-control" style="height: 120px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6" style="margin-top: 35px;">
                    <div class="form-group">
                        <input formControlName="date" type="date" id="date" name="date" class="form-control"/>
                    </div>
                </div>
    
                <div class="col-md-6" style="margin-top: 35px;">
                    <button name="medocOffert" class="form-control" (click)="formMedocOffert()">Médicaments offerts</button>
                </div>
            </div>

            <div class="col-md-12">
                <button name="valider" type="submit" class="btn btn-success">Valider</button>
            </div>
        </form> 
    </div>
</div>