<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-sm-12">
            <h2>Ajouter un nouveau rapport</h2>
        </div>
        <div class="col-sm-4">
            <p>Rechercher un médecin</p>
        </div>
        <div class="col-sm-8">
            <input type="text" name="rechercheMedecin" id="rechercheMedecin" (keyup)="rechercheMedecin($event)" placeholder="Nom du médecin">
        </div>
        <form [formGroup]="ajoutForm" >
            <!-- (ngSubmit)="onSubmitForm() -->
            <div class="form-group">
                <label for="motif">Motif</label>
                <input formControlName="motif" type="text" id="motif" name="motif" class="form-control">
            </div>
      
        </form> 

    </div>
</div>