<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 55px;">
            <h2>Ajouter un nouveau rapport</h2>
        </div>
        <form [formGroup]="ajoutForm" (ngSubmit)="onSubmitForm()">

            <div class="form-group">
                <div class="col-md-4">
                    <input class="form-control" type="text" name="rechercheMedecin" id="rechercheMedecin" (keyup)="rechercheMedecin($event)" placeholder="Rechercher un médecin"/>
                </div>
                <div class="col-md-8">
                    <select formControlName="idMedecin" class="form-control" id="listeMedecin" style="overflow: scroll;">
                        <option *ngFor = "let medecin of medecins" value="{{medecin.id}}">{{medecin.nom}} {{medecin.prenom}} {{medecin.adresse}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6" style="margin-top: 35px;">
                    <div class="form-group">
                        <label for="motif">Motif</label>
                        <textarea formControlName="motif" id="motif" name="motif" class="form-control" style="height: 120px;"></textarea>
                    </div>
                </div>
    
                <div class="col-md-6" style="margin-top: 35px;">
                    <div class="form-group">
                        <label for="bilan">Bilan</label>
                        <textarea formControlName="bilan" id="bilan" name="bilan" class="form-control" style="height: 120px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6" style="margin-top: 35px;">
                    <div class="form-group">
                        <input formControlName="date" type="date" id="date" name="date" class="form-control"/>
                    </div>
                </div>
    
                <div class="col-md-6" style="margin-top: 35px;">
                    <input class="btn btn-secondary" type="button" name="medocOffert" (click)="formMedocOffert()" value='Médicaments offerts'/>
                </div>
            </div>
            <div class="form-group" *ngIf="!formMedoc">
                <div class="col-md-12" style="margin-top:35px;">
                    <h2>Ajouter un nouveau médicament</h2>
                    <div class="liseMedocAjout">
                        <h2>Vous avez ajouté :</h2>
                        <div class="col-md-12">
                            <div class="tableau" style="margin-top:65px;height:350px; overflow: scroll;">
                                <table class="table">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th *ngFor = "let head of headElements;">{{head | titlecase}}</th>
                                    </tr>
                                  </thead>
                                  <tbody *ngFor= "let medoc of medocs">
                                    <td>{{medoc.idMedicament}}</td>
                                    <td>{{medoc.qte}}</td>
                                    <td><button (click)="supprimerMedoc(medoc.idMedicament,medoc.qte)" style="color: red;"><i class="glyphicon glyphicon-trash"></i></button></td>
                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input class="form-control" type="text" name="rechercheMedicament" id="rechercheMedicament" (keyup)="rechercheMedicament($event)" placeholder="Rechercher un médicament"/>
                        </div>
                        <div class="col-md-8">
                            <select formControlName="idMedicament" class="form-control" id="listemedicament" style="overflow: scroll;">
                                <option *ngFor = "let medicament of medicaments" value="{{medicament.id}}">{{medicament.nomCommercial}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="qte">Indiquer le nombre d'exemplaires offerts :</label>
                        <input id="qte"formControlName="qte" type="range" min=0 max=5 value=0 data-highlight="true" onInput="qteNb.value = qte.value"/>
                        <output name="qteNb" id="qteNb" value=0 >0</output>
                        <input type="button" id="enregisterMedoc" class="btn btn-primary" (click)="ajoutMedoc()" value="Enregistrer le médicament"/>
                    </div>     
                </div>
            </div>

            <div class="col-md-12">
                <button name="valider" type="submit" class="btn btn-success">Valider</button>
            </div>
        </form>
    </div>
</div>