<div class="container" style="text-align: center;">
    <div class="row" style="margin-bottom: 55px;">
        <h2>Mes rapports de visites</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button (click)="modifierRapport()" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Modifier un rapport</button>
        </div>
        <div class="col-sm-6">
            <button (click)="ajouterRapport()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un rapport</button>
        </div>
    </div>
    <app-ajouter-rapport *ngIf="formAjoutRapport"></app-ajouter-rapport>
    <app-modifier-rapport *ngIf="formModifierRapport"></app-modifier-rapport>
    <button class="btn btn-danger" *ngIf="formModifierRapport || formAjoutRapport" (click)="annuler()">Retour à la liste</button>
    <div class="row" *ngIf="!formAjoutRapport && !formModifierRapport">
        <div class="col-md-12">
            <div class="tableau" style="margin-top:65px;height:350px; overflow: scroll;">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th *ngFor = "let head of headElements;">{{head | titlecase}}</th>
                    </tr>
                  </thead>
                  <tbody *ngFor= "let rapport of rapports">
                    <td>{{rapport[0].id}} </td>
                    <td>{{rapport[0].date}} </td>
                    <td>{{rapport[0].motif}} </td>
                    <td>{{rapport[0].bilan}} </td>
                    <td>{{rapport[0].idVisiteur}} </td>
                    <td>{{rapport[0].idMedecin}} </td>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
</div>