<div class="container" style="text-align: center;">
    <div class="row" style="margin-bottom: 55px;">
        <h2>Mes rapports de visites</h2>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button routerLink="modifier-rapport" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Modifier un rapport</button>
        </div>
        <div class="col-sm-6">
            <a routerLink="ajouter-rapport">
                <button routerLink="ajouter-rapport" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un rapport</button>
            </a> 
        </div>
    </div>
</div>