<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="md-form">
          <input type="text"class="form-control" id="search" (keyup)="rechercheMedicament($event)" placeholder="Rechercher un nom de médicament"/>
        </div>
      </div>
    </div>
      <div class="tableau" style="margin-top:65px;height:350px; overflow: scroll;">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th *ngFor = "let head of headElements;">{{head | titlecase}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let medicament of medicaments">
            <td>{{medicament.nomCommercial}}</td>
            <td>{{medicament.composition}} </td>
            <td>{{medicament.effets}}</td>
            <td>{{medicament.contreIndications}} </td>
            <td><a (click)="afficherFamille(medicament)"><img width="65" src="../../assets/images/eyes.jpg"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Libellé</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let famille of familles">
          <td>{{famille.id}} </td>
          <td>{{famille.libelle}} </td>
          </tr>
          </tbody>
          </table>
        </div>
</div>